<a href="https://colab.research.google.com/github/RoelJohnGuzman/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python Identation

if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [2]:
#this is a comment

print("Hello, world")

i miss you auuu :'(

In [16]:
#python variable

x = 1
a,b = 0,1
a,b,c = 0,-1,2

b = "Sally" #This is  a type of string
print(b)

Sally

In [14]:
#casting

b = "Sally" #This is  a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.125219085019284

In [15]:
#Type() function

x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [17]:
#Double quote or Single quotes

y= "john"
y= 'john'
print(y)

john

In [18]:
#Case sensitive

a=4
A="Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

In [20]:
#multiple variables

x,y,z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

In [21]:
#one value to mutiple variables

x=y=z = "four"
print(x)
print(y)
print(z)

four
four
four

In [22]:
#Output Variable

x = "enjoying"
print("python programming is " + x)

python programming is enjoying

In [23]:
#other way output variable

x= "Python is "
y= "enjoying"
z= x+y
print(z)

Python is enjoying

In [28]:
#Aritmetic Operation

x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
print(sum)

8
8
6

In [35]:
#Assignment operator

a,b,c =0,-1,6
c%=3
print(c)

0

In [44]:
#Logical and Comparision operator
a,b,c =0,-1,6
a>b and c>b

True

In [43]:
#Identity operator

a,b,c =0,-1,5
a is c

False

In [54]:
#Bitwise Operator

a,b,c =0,-1,5
c>>1
c<<2

2